:root {
    --prim: #00c6c6;
    --sec: #434b4d;
    --tert: #d6d6d6;

    --logo: 'Zilla Slab', serif;
    --mainFont: 'Noto Sans', sans-serif;
    --headerFont: 'Roboto Condensed', sans-serif;
}

* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    font-family: var(--mainFont);
}

#topHeader {
    background-color: var(--tert);
}

.th-text, .tl-link, #themeBtn {
    color: #898989;
    font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
}

.th-text {
    margin-top: 10px;
}

.th-text a {
    text-decoration: none;
}

.highlight {
    color: var(--prim);
}

#bottomHeader {
    padding: 30px 0;
}

.logo {
    font-family: var(--logo);
}

.logo-span {
    padding: 5px;

    background-color: var(--prim);
    border-radius: 50%;
}

.header-btn {
    margin-left: 6px;
    padding: 3px 8px;
    color: #898989;
    border: none;
}

#cart {
    background-color: var(--prim);
}

.shopping-link, .account-link {
    transition: color 0.5s ease;
}

.shopping-link:hover, .account-link:hover{
    color: var(--prim);
}

.header-search {
    font-size: 12px;
    font-style: italic;
}

.search-btn {
    margin-left: -10px;
    background-color: var(--tert);
    border: none;
    border-radius: 3px;
}

#promoSection, #latestSection, #welcomeSection, #bestSellersSection {
    padding: 20px 0;
}

#manufacturersSection {
    padding: 20px 0 40px 0;
}

.latest-box, .sellers-box, .manufacturers-box {
    padding: 18px 0;
    width: 100%;
}

#latestHeading, #bestSellersHeading, #manufacturersHeading {
    margin: 0;
    padding:  0 5px;
    font-family: var(--headerFont);
    background-color: white;
    /* change background-color in js */
    border-left: 4px solid var(--prim);
}  


#latestScrolls, #sellerScrolls, #manuScrolls {
    padding-left: 5px;
    background-color: white;
    /* change background-color in js */
}

@media (min-width: 768px) {

    .latest-box, .sellers-box {
        position: relative;
        border-top: 1px solid var(--tert);
        width: 100%;
        height: 560px;
    }

    .manufacturers-box {
        position: relative;
        border-top: 1px solid var(--tert);
        width: 100%;
    }

    #latestHeading, #bestSellersHeading, #manufacturersHeading {
        position: absolute;
        top: -20px;
        margin: 0;
        background-color: white;
    }

    #latestScrolls, #sellerScrolls, #manuScrolls {
        position: absolute;
        top: -20px;
        right: 0;
    }

    .products {
        position: relative;
        height: 480px;
        height: 50vh;
    }

    .cart-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
}


.latest-tag, .sellers-tag {
    font-size: 14px;
}


.scroll-btn {
    color: var(--tert);
    border: 1px solid var(--tert);
    border-radius: 5px;
}

.scroll-btn:hover {
    color: white;
    background-color: var(--prim);
}

.products {
    padding: 20px;
    /* border: 1px solid blue; */
}

#topFooter {
    padding: 10px 0;
    background-color: var(--tert);
}

.signup-text {
    margin: 0;
    color: var(--sec);
    font-family: var(--headerFont);
    font-size: 22px;
}

.signup {
    color: var(--sec);
    background-color: var(--tert);
    border: 1px solid yellow;
}

#bottomFooter {
    padding: 80px 0;
    background-color: var(--sec);
}

.footer-header {
    font-family: var(--headerFont);
    font-size: 18px;
}

.account-list {
    list-style-type: square;
    padding-left: 15px;
}

.account-item {
    font-size: 14px;
}

.account-item::marker {
    color: var(--prim);
}